<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$confRes.sitename}</title>
<meta name="description" content="{$confRes.sitedescription}" />
<meta name="keywords" content="{$confRes.sitekeyword}" />
<link rel="stylesheet" type="text/css" media="all" href="__INDEX__/style/style.css" />
<script src="__INDEX__/style/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="__INDEX__/style/jquery.js" type="text/javascript"></script>
    <script src="__INDEX__/style/jquery.error.js" type="text/javascript"></script>
    <script src="__INDEX__/style/jtemplates.js" type="text/javascript"></script>
    <script src="__INDEX__/style/jquery.form.js" type="text/javascript"></script>
    <script src="__INDEX__/style/lazy.js" type="text/javascript"></script>
    <script type="text/javascript" src="__INDEX__/style/wp-sns-share.js"></script>
    <script type="text/javascript" src="__INDEX__/style/voterajax.js"></script>
    <script type="text/javascript" src="__INDEX__/style/userregister.js"></script>
    <link rel="stylesheet" href="__INDEX__/style/pagenavi-css.css" type="text/css" media="all" />
    <link rel="stylesheet" href="__INDEX__/style/votestyles.css" type="text/css" />
    <link rel="stylesheet" href="__INDEX__/style/voteitup.css" type="text/css" />
    <style type="text/css">
        #wrapper
        {
            background-color: #ffffff;
        }
        .single_entry{margin-top:30px;}
    </style>
</head>
<body class="single2">

<script type="text/javascript">
    function showMask() {
        $("#mask").css("height", $(document).height());
        $("#mask").css("width", $(document).width());
        $("#mask").show();
    }  
</script>
<div id="mask" class="mask" onclick="CloseMask()"></div> 

{include file="public/head" /}


    <div id="wrapper">
       
        <div class="single_entry page_entry">
            <div class="entry">
                <h2 style="margin: 0px 0px 20px; padding: 0px; border: 0px; font-size: 22px; vertical-align: baseline; font-family: 'Microsoft Yahei', 'Trebuchet MS', Arial, Tahoma, Helvetica, sans-serif; line-height: 26px; color: rgb(51, 51, 51);">
    关于我们</h2>
<p style="margin: 0px 0px 20px; padding: 0px; border: 0px; font-size: 14px; vertical-align: baseline; line-height: 28px; color: rgb(102, 102, 102); font-family: 'Microsoft Yahei', 'Helvetica Neue', Arial, Helvetica, sans-serif;">
    &ldquo;骑摆客&rdquo;（Biker），城市自动双轮梭行者。</p>
<p style="margin: 0px 0px 20px; padding: 0px; border: 0px; font-size: 14px; vertical-align: baseline; line-height: 28px; color: rgb(102, 102, 102); font-family: 'Microsoft Yahei', 'Helvetica Neue', Arial, Helvetica, sans-serif;">
    他们不满步行太迟缓、开车太壅塞，还有安全帽对发型的践踏和破坏。他们厌倦公交及地铁的贴饼生活。他们心里的隐约骄傲，来自自食其力的从容和悠哉，来自他们标志性的&ldquo;骑摆客&rdquo;坐骑。他们一身劲装加背包，稳坐在&ldquo;摆客&rdquo;上，大街小巷兜兜转，遇上塞车还来不及心烦，脑中已经浮现小路可以转弯改道。</p>
<p style="margin: 0px 0px 20px; padding: 0px; border: 0px; font-size: 14px; vertical-align: baseline; line-height: 28px; color: rgb(102, 102, 102); font-family: 'Microsoft Yahei', 'Helvetica Neue', Arial, Helvetica, sans-serif;">
    骑摆客们总在抄捷径的同时，意外发现城市的精采。五颜六色的小店橱窗，引人发噱的看板招牌，令人好奇老板的甘居陋巷所为何来。互掷刀盘的夫妻，捡拾狗便的贵妇，情侣刚从酒店走出来，骑摆客一一捕捉他们的瞬间神态，在接下来的途中把故事写完。唯有气味，能让骑摆客们齿轮停摆。刚起锅的面摊卤味，正好出炉的新鲜面包，骑摆客们永远都知道：为享受&ldquo;最佳状态&rdquo;而停下来，迟点赴约当然应该。</p>
<p style="margin: 0px 0px 20px; padding: 0px; border: 0px; font-size: 14px; vertical-align: baseline; line-height: 28px; color: rgb(102, 102, 102); font-family: 'Microsoft Yahei', 'Helvetica Neue', Arial, Helvetica, sans-serif;">
    这个城市里，上班12小时的劳累人们，走路太累，开车太烦，公交太挤，&ldquo;摆客&rdquo;是最好的速度；看到漂亮的人了，闻到菜香了，脚不动，就由得双轮随思而去。他们知道在这城市里骑&ldquo;摆客&rdquo;是最酷的，所以他们省吃俭用甘为卡奴，让他们成为一个酷酷的摆客。他们摇摆过市，吸饱城市光怪陆离，回去吐成一篇一篇他们钟爱的小品文，发表在博客上，有多欢喜。</p>
<p style="margin: 0px 0px 20px; padding: 0px; border: 0px; font-size: 14px; vertical-align: baseline; line-height: 28px; color: rgb(102, 102, 102); font-family: 'Microsoft Yahei', 'Helvetica Neue', Arial, Helvetica, sans-serif;">
    骑摆客们怎么会放弃那风光里的林荫路，车就扔在远远的地方吧，后备箱里永远备着&ldquo;BIKE&rdquo;，那是&ldquo;骑摆客&rdquo;们的标志，任由阳光洒满全身，摆客们欣赏风景当然要自由。</p>
<p style="margin: 0px 0px 20px; padding: 0px; border: 0px; font-size: 14px; vertical-align: baseline; line-height: 28px; color: rgb(102, 102, 102); font-family: 'Microsoft Yahei', 'Helvetica Neue', Arial, Helvetica, sans-serif;">
    城市的风景是静默的，但穿梭其间的我们是灵动的；日程表上的计划是静态的，但迎风骑行的心情是澎湃的；思考的瞬间是安静的，但承载它的生命却在流光溢彩中完成了思考；眼前的你在安静中透着亲切，我们的轨迹却在四处闪烁；骑车一起出发吧！就在前方！</p>
<p style="margin: 0px 0px 20px; padding: 0px; border: 0px; font-size: 14px; vertical-align: baseline; line-height: 28px; color: rgb(102, 102, 102); font-family: 'Microsoft Yahei', 'Helvetica Neue', Arial, Helvetica, sans-serif;">
    <strong style="margin: 0px; padding: 0px; border: 0px; vertical-align: baseline;">备注</strong>：<strong style="margin: 0px; padding: 0px; border: 0px; vertical-align: baseline;">本网站内容部分来自车友分享，如有侵权请及时联系我们，我们将第一时间处理。本网站原创文章欢迎转载，转载请注明本站网址。</strong></p>

                <div class="clear">
                </div>
            </div>
    </div>

    </div>
 
{include file="public/footer" /}


<div style="display: none;" id="scroll">
</div>
<script type="text/javascript" src="__INDEX__/style/z700bike_global.js"></script>
</body>
</html>
