<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$confRes.sitename}</title>
<meta name="description" content="{$confRes.sitedescription}" />
<meta name="keywords" content="{$confRes.sitekeyword}" />
    <link href="__INDEX__/style/bootstrap.css" rel="stylesheet" />
    <script src="__INDEX__/style/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="__INDEX__/style/style.css" />
    <script src="__INDEX__/style/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="__INDEX__/style/jquery.error.js" type="text/javascript"></script>
    <script src="__INDEX__/style/jtemplates.js" type="text/javascript"></script>
    <script src="__INDEX__/style/jquery.form.js" type="text/javascript"></script>
    <script src="__INDEX__/style/lazy.js" type="text/javascript"></script>
    <script type="text/javascript" src="__INDEX__/style/wp-sns-share.js"></script>
    <script type="text/javascript" src="__INDEX__/style/voterajax.js"></script>
    <script type="text/javascript" src="__INDEX__/style/userregister.js"></script>


    <link rel="stylesheet" href="__INDEX__/style/votestyles.css" type="text/css" />
    <link rel="stylesheet" href="__INDEX__/style/voteitup.css" type="text/css" />
   <link rel="stylesheet" href="__INDEX__/style/list.css" type="text/css" />
</head>
<body id="list_style_2" class="list_style_2">
 <script>
 function subForm()
 {

 formsearch.submit();
 //form1为form的id
 }
 </script>
<script type="text/javascript">
    function showMask() {
        $("#mask").css("height", $(document).height());
        $("#mask").css("width", $(document).width());
        $("#mask").show();
    }  
</script>
<div id="mask" class="mask" onclick="CloseMask()"></div> 


{include file="public/head" /}


</div>
    <div id="wrapper">
       

    <div id="xh_container">
        <div id="xh_content">

    <div class="path">
    <h3>您搜索的关键词:{$keyword}</h3>
  </div>

          <div class="clear"></div>
            <div class="xh_area_h_3" style="margin-top: 40px;">
{if condition="$count eq 0"}
  未找到与您搜索的关键词相关内容
{else/}
{volist name='result' id='art'}

    <div class="xh_post_h_3 ofh">
        <div class="xh">
           <a target="_blank" href="{:url('Article/index',array('id'=>$art.id))}" >
              <img src="{$art.pic}"  height="240" width="400">
           </a>
        </div>
        <div class="r ofh">
        <h2 class="xh_post_h_3_title ofh" style="height:60px;">
           <a target="_blank" href="{:url('Article/index',array('id'=>$art.id))}" title="Alain Massabova: 40 Years in Paris BMX 视频">{$art.tittle}</a>
        </h2>
                                
        <span class="time">{$art.time|date='Y年m月d日',###}</span>
        <div class="xh_post_h_3_entry ofh" style="color:#555;height:80px; overflow:hidden;">{$art.content}</div>
         <div class="b">
             <a href="{:url('Article/index',array('id'=>$art.id))}" class="xh_readmore" rel="nofollow">read more</a> 
             <span class="xh_love"><span class="textcontainer"><span>{$art.zan}</span></span> </span> 
             <span class="xh_views">{$art.click}</span>
         </div>
    </div>
</div>
{/volist} 
{/if}

  <div style="width:100%;text-align:center;margin:30px 0px;">
{$result->render()}
</div>

</div>
</div>



<!-- {右边} -->
<div id="xh_sidebar">    
  <div class="widget">

<div style="background: url('__INDEX__/style/img/hots_bg.png') no-repeat scroll 0 0 transparent;width:250px;height:52px;margin-bottom:15px;">
</div> 
                </div>
            
            <div class="widget portrait">
    <div>
        <div class="textwidget">
            <a href="/tougao.html"><img src="__INDEX__/style/img/tg.jpg" alt=""></a><br><br>          
<script type="text/javascript">BAIDU_CLB_fillSlot("870073");</script>
<script type="text/javascript">BAIDU_CLB_fillSlot("870080");</script>
<script type="text/javascript">BAIDU_CLB_fillSlot("870081");</script>
        </div>
    </div>
</div>

</div>
        <div class="clear">
        </div>
    </div>
    <div class="boxBor"></div>

    <div class="boxBor" onclick="IBoxBor()" style="cursor:pointer;"></div>
    <script type="text/javascript">
        $(function () {
            var imgHoverSetTimeOut = null;
            $('.xh_265x265 img').hover(function () {
                var oPosition = $(this).offset();
                var oThis = $(this);
                $(".boxBor").css({
                    left: oPosition.left,
                    top: oPosition.top,
                    width: oThis.width(),
                    height: oThis.height()
                });
                $(".boxBor").show();
                var urlText = $(this).parent().attr("href");
                $("#hdBoxbor").val(urlText);
            }, function () {
                imgHoverSetTimeOut = setTimeout(function () { $(".boxBor").hide(); }, 500);
            });
            $(".boxBor").hover(
                function () {
                    clearTimeout(imgHoverSetTimeOut);
                }
                , function () {
                    $(".boxBor").hide();
                }
            );
        });
        function IBoxBor() {
            window.open($("#hdBoxbor").val());
        }
        function goanewurl() {
            window.open($("#hdUrlFocus").val());
        }
</script>

    </div>

{include file="public/footer" /}


<div style="display: none;" id="scroll">
</div>
<script type="text/javascript" src="__INDEX__/style/z700bike_global.js"></script>
 

</body>
</html>
