<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>童老师ThinkPHP5交流群：484519446</title>
<meta name="description" content="童老师ThinkPHP5交流群：484519446" />
<meta name="keywords" content="童老师ThinkPHP5交流群：484519446" />
<link rel="stylesheet" type="text/css" media="all" href="__INDEX__/style/style.css" />
    <script src="__INDEX__/style/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="__INDEX__/style/jquery.error.js" type="text/javascript"></script>
    <script src="__INDEX__/style/jtemplates.js" type="text/javascript"></script>
    <script src="__INDEX__/style/jquery.form.js" type="text/javascript"></script>
    <script src="__INDEX__/style/lazy.js" type="text/javascript"></script>
    <script type="text/javascript" src="__INDEX__/style/wp-sns-share.js"></script>
    <script type="text/javascript" src="__INDEX__/style/voterajax.js"></script>
    <script type="text/javascript" src="__INDEX__/style/userregister.js"></script>

    <link rel="stylesheet" href="__INDEX__/style/votestyles.css" type="text/css" />
    <link rel="stylesheet" href="__INDEX__/style/voteitup.css" type="text/css" />
   <link rel="stylesheet" href="__INDEX__/style/list.css" type="text/css" />
</head>
<body id="list_style_2" class="list_style_2">
 <script>
 function subForm()
 {

 formsearch.submit();
 //form1为form的id
 }
 </script>
<script type="text/javascript">
    function showMask() {
        $("#mask").css("height", $(document).height());
        $("#mask").css("width", $(document).width());
        $("#mask").show();
    }  
</script>
<div id="mask" class="mask" onclick="CloseMask()"></div> 


{include file="public/head" /}


</div>
    <div id="wrapper">
       

    <div id="xh_container">
        <div id="xh_content">

        <div class="path"><a href='#'>主页</a> > <a href='/lookbike/'>单车分类</a> > </div><div class="clear"></div>
            <div class="xh_area_h_3" style="margin-top: 40px;">

    <div class="xh_post_h_3 ofh">
                            <div class="xh">
                                <a target="_blank" href="/lookbike/bmx/240.html" title="Alain Massabova: 40 Years in Paris BMX 视频">
                                    <img src="__INDEX__/images/200.jpg" alt="Alain Massabova: 40 Years in Paris BMX 视频" height="240" width="400"></a></div>
                            <div class="r ofh">
                                <h2 class="xh_post_h_3_title ofh" style="height:60px;">
                                    <a target="_blank" href="/lookbike/bmx/240.html" title="Alain Massabova: 40 Years in Paris BMX 视频">Alain Massabova: 40 Years in Paris BMX 视频</a>
                                </h2>
                                <span class="time">2014年02月06日</span>
                                <div class="xh_post_h_3_entry ofh" style="color:#555;height:80px; overflow:hidden;">
                                                                        Alain Massabova最近就走到巴黎，与导演JC Pieri合作，为《ART BMX Magazine》制作出最新的《40 Years in Paris》视频短片。这次Massabova...
                                
                                </div>
                                <div class="b">
                                    <a href="/lookbike/bmx/240.html" class="xh_readmore" rel="nofollow">read
                                        more</a> <span title="0人赞" class="xh_love"><span class="textcontainer"><span>0</span></span> </span> <span title="88人浏览" class="xh_views">
                                                    88</span>
                                </div>
                            </div>
                        </div><div class="xh_post_h_3 ofh">
                            <div class="xh">
                                <a target="_blank" href="/lookbike/small/200.html" title="Tyrell唯一的折叠小径车Tyrell FX">
                                    <img src="__INDEX__/images/160.jpg" alt="Tyrell唯一的折叠小径车Tyrell FX" height="240" width="400"></a></div>
                            <div class="r ofh">
                                <h2 class="xh_post_h_3_title ofh" style="height:60px;">
                                    <a target="_blank" href="/lookbike/small/200.html" title="Tyrell唯一的折叠小径车Tyrell FX">Tyrell唯一的折叠小径车Tyrell FX</a>
                                </h2>
                                <span class="time">2014年02月06日</span>
                                <div class="xh_post_h_3_entry ofh" style="color:#555;height:80px; overflow:hidden;">
                                                                        来自日本的Tyrell公司一直以生产高端轻量化小径车和顶级零配件著称，除了像AM-7这样的顶级小径车轮组，Tyrell的整车更是实力非凡，旗下产品诸如采用钛合金车架的20寸451轮组的“PK”系...
                            
                                </div>
                                <div class="b">
                                    <a href="/lookbike/small/200.html" class="xh_readmore" rel="nofollow">read
                                        more</a> <span title="0人赞" class="xh_love"><span class="textcontainer"><span>0</span></span> </span> <span title="102人浏览" class="xh_views">
                                                    102</span>
                                </div>
                            </div>
                        </div><div class="xh_post_h_3 ofh">
                            <div class="xh">
                                <a target="_blank" href="/lookbike/mountainbike/160.html" title="登山新伙伴 全球限量80台的奔驰山地车">
                                    <img src="__INDEX__/images/120.jpg" alt="登山新伙伴 全球限量80台的奔驰山地车" height="240" width="400"></a></div>
                            <div class="r ofh">
                                <h2 class="xh_post_h_3_title ofh" style="height:60px;">
                                    <a target="_blank" href="/lookbike/mountainbike/160.html" title="登山新伙伴 全球限量80台的奔驰山地车">登山新伙伴 全球限量80台的奔驰山地车</a>
                                </h2>
                                <span class="time">2014年02月06日</span>
                                <div class="xh_post_h_3_entry ofh" style="color:#555;height:80px; overflow:hidden;">
                                                                        梅赛德斯-奔驰的造车技术一向优质毋庸置疑，同样的投身山地车制造方面也能让大家感受到科技和设计之美，2012限定版山地车已经可以通过当地的奔驰经销商订货购买。
                                
                                </div>
                                <div class="b">
                                    <a href="/lookbike/mountainbike/160.html" class="xh_readmore" rel="nofollow">read
                                        more</a> <span title="0人赞" class="xh_love"><span class="textcontainer"><span>0</span></span> </span> <span title="157人浏览" class="xh_views">
                                                    157</span>
                                </div>
                            </div>
                        </div><div class="xh_post_h_3 ofh">
                            <div class="xh">
                                <a target="_blank" href="/lookbike/roadbicycle/120.html" title="Rapha Continental x Vandeyk 联名手工车款">
                                    <img src="__INDEX__/images/80.jpg" alt="Rapha Continental x Vandeyk 联名手工车款" height="240" width="400"></a></div>
                            <div class="r ofh">
                                <h2 class="xh_post_h_3_title ofh" style="height:60px;">
                                    <a target="_blank" href="/lookbike/roadbicycle/120.html" title="Rapha Continental x Vandeyk 联名手工车款">Rapha Continental x Vandeyk 联名手工车款</a>
                                </h2>
                                <span class="time">2014年02月06日</span>
                                <div class="xh_post_h_3_entry ofh" style="color:#555;height:80px; overflow:hidden;">
                                                                        英国单车服事配件品牌 Rapha，与美国知名的创意公路赛 Rapha Continental 找来德国单车品牌 Vandeyk 联手，发表一系列联名款单车，全由德国师傅手工打造而成。
                                
                                </div>
                                <div class="b">
                                    <a href="/lookbike/roadbicycle/120.html" class="xh_readmore" rel="nofollow">read
                                        more</a> <span title="0人赞" class="xh_love"><span class="textcontainer"><span>0</span></span> </span> <span title="181人浏览" class="xh_views">
                                                    181</span>
                                </div>
                            </div>
                        </div><div class="xh_post_h_3 ofh">
                            <div class="xh">
                                <a target="_blank" href="/lookbike/vintagebicycle/80.html" title="硬朗骑士归来，NEIGHBORHOOD 2013秋冬型录一览">
                                    <img src="__INDEX__/images/40.jpg" alt="硬朗骑士归来，NEIGHBORHOOD 2013秋冬型录一览" height="240" width="400"></a></div>
                            <div class="r ofh">
                                <h2 class="xh_post_h_3_title ofh" style="height:60px;">
                                    <a target="_blank" href="/lookbike/vintagebicycle/80.html" title="硬朗骑士归来，NEIGHBORHOOD 2013秋冬型录一览">硬朗骑士归来，NEIGHBORHOOD 2013秋冬型录一览</a>
                                </h2>
                                <span class="time">2014年02月06日</span>
                                <div class="xh_post_h_3_entry ofh" style="color:#555;height:80px; overflow:hidden;">
                                                                        作为潮流界的硬汉，NEIGHBORHOOD其每一件的单品都给人以干净，利落，硬朗的印象。当然了，此次NEIGHBORHOOD推出的2013秋冬型录自然也不例外。
                                
                                </div>
                                <div class="b">
                                    <a href="/lookbike/vintagebicycle/80.html" class="xh_readmore" rel="nofollow">read
                                        more</a> <span title="1人赞" class="xh_love"><span class="textcontainer"><span>1</span></span> </span> <span title="171人浏览" class="xh_views">
                                                    171</span>
                                </div>
                            </div>
                        </div><div class="xh_post_h_3 ofh">
                            <div class="xh">
                                <a target="_blank" href="/lookbike/fixed-gear/40.html" title="[大视野] 固齿公开赛现场 全国fixed gear车友单车及装备展示">
                                    <img src="__INDEX__/images/40.jpg" alt="[大视野] 固齿公开赛现场 全国fixed gear车友单车及装备展示" height="240" width="400"></a></div>
                            <div class="r ofh">
                                <h2 class="xh_post_h_3_title ofh" style="height:60px;">
                                    <a target="_blank" href="/lookbike/fixed-gear/40.html" title="[大视野] 固齿公开赛现场 全国fixed gear车友单车及装备展示">[大视野] 固齿公开赛现场 全国fixed gear车友单车及装备展示</a>
                                </h2>
                                <span class="time">2014年02月06日</span>
                                <div class="xh_post_h_3_entry ofh" style="color:#555;height:80px; overflow:hidden;">
                                                                        图中为全国fixed gear车友单车及装备，每年的固齿公开赛就像一场豪华的死飞展会，今年男伙伴里钟情粉色系，女伙伴们热爱黑色系，这世界变化了。
                                
                                </div>
                                <div class="b">
                                    <a href="/lookbike/fixed-gear/40.html" class="xh_readmore" rel="nofollow">read
                                        more</a> <span title="6人赞" class="xh_love"><span class="textcontainer"><span>6</span></span> </span> <span title="68人浏览" class="xh_views">
                                                    68</span>
                                </div>
                            </div>
                        </div><div class="xh_post_h_3 ofh">
                            <div class="xh">
                                <a target="_blank" href="/lookbike/otherbike/279.html" title="意大利品牌Diesel&amp;Pinarello城市车首次亮相上海自行车展">
                                    <img src="__INDEX__/images/239.jpg" alt="意大利品牌Diesel&amp;Pinarello城市车首次亮相上海自行车展" height="240" width="400"></a></div>
                            <div class="r ofh">
                                <h2 class="xh_post_h_3_title ofh" style="height:60px;">
                                    <a target="_blank" href="/lookbike/otherbike/279.html" title="意大利品牌Diesel&amp;Pinarello城市车首次亮相上海自行车展">意大利品牌Diesel&amp;Pinarello城市车首次亮相上海自行车展</a>
                                </h2>
                                <span class="time">2014年02月06日</span>
                                <div class="xh_post_h_3_entry ofh" style="color:#555;height:80px; overflow:hidden;">
                                    
                                    意大利Pinarello自行车品牌和Diesel潮牌2012年的合作诞生了名为Only the Brave的全新城市车，成为业界最为激动人心的新品。Only the Brave单速城市车使用热油...
                                
                                </div>
                                <div class="b">
                                    <a href="/lookbike/otherbike/279.html" class="xh_readmore" rel="nofollow">read
                                        more</a> <span title="1人赞" class="xh_love"><span class="textcontainer"><span>1</span></span> </span> <span title="150人浏览" class="xh_views">
                                                    150</span>
                                </div>
                            </div>
                        </div><div class="xh_post_h_3 ofh">
                            <div class="xh">
                                <a target="_blank" href="/lookbike/otherbike/280.html" title="自行车中阿斯顿·马丁 至简至美Budnitz城市自行车">
                                    <img src="__INDEX__/images/240.jpg" alt="自行车中阿斯顿·马丁 至简至美Budnitz城市自行车" height="240" width="400"></a></div>
                            <div class="r ofh">
                                <h2 class="xh_post_h_3_title ofh" style="height:60px;">
                                    <a target="_blank" href="/lookbike/otherbike/280.html" title="自行车中阿斯顿·马丁 至简至美Budnitz城市自行车">自行车中阿斯顿·马丁 至简至美Budnitz城市自行车</a>
                                </h2>
                                <span class="time">2014年02月06日</span>
                                <div class="xh_post_h_3_entry ofh" style="color:#555;height:80px; overflow:hidden;">
                                    
                                    Budnitz自行车品牌创立于2010年，在当年NAHBS大展上横空出世，获得“自行车中阿斯顿·马丁”的美誉，Budnitz试图用钛和铬钼钢打造世界上最简捷最快
                                
                                </div>
                                <div class="b">
                                    <a href="/lookbike/otherbike/280.html" class="xh_readmore" rel="nofollow">read
                                        more</a> <span title="1人赞" class="xh_love"><span class="textcontainer"><span>1</span></span> </span> <span title="104人浏览" class="xh_views">
                                                    104</span>
                                </div>
                            </div>
                        </div><div class="xh_post_h_3 ofh">
                            <div class="xh">
                                <a target="_blank" href="/lookbike/otherbike/278.html" title="标致设计实验室力作概念单车 Peugeot Onyx bike">
                                    <img src="__INDEX__/images/238.jpg" alt="标致设计实验室力作概念单车 Peugeot Onyx bike" height="240" width="400"></a></div>
                            <div class="r ofh">
                                <h2 class="xh_post_h_3_title ofh" style="height:60px;">
                                    <a target="_blank" href="/lookbike/otherbike/278.html" title="标致设计实验室力作概念单车 Peugeot Onyx bike">标致设计实验室力作概念单车 Peugeot Onyx bike</a>
                                </h2>
                                <span class="time">2014年02月06日</span>
                                <div class="xh_post_h_3_entry ofh" style="color:#555;height:80px; overflow:hidden;">
                                    
                                    标致设计实验室一直很高效，他们曾设计过eDL132电动单车，Pleyel钢琴等等，这是他们的Onyx系概念自行车，简洁、动感、超棒空气动力学优化设计，重金属感十足。
                                
                                </div>
                                <div class="b">
                                    <a href="/lookbike/otherbike/278.html" class="xh_readmore" rel="nofollow">read
                                        more</a> <span title="0人赞" class="xh_love"><span class="textcontainer"><span>0</span></span> </span> <span title="114人浏览" class="xh_views">
                                                    114</span>
                                </div>
                            </div>
                        </div><div class="xh_post_h_3 ofh">
                            <div class="xh">
                                <a target="_blank" href="/lookbike/otherbike/277.html" title="NEIGHBORHOOD x 4ING 联合推出儿童自行车Kick Bike">
                                    <img src="__INDEX__/images/237.jpg" alt="NEIGHBORHOOD x 4ING 联合推出儿童自行车Kick Bike" height="240" width="400"></a></div>
                            <div class="r ofh">
                                <h2 class="xh_post_h_3_title ofh" style="height:60px;">
                                    <a target="_blank" href="/lookbike/otherbike/277.html" title="NEIGHBORHOOD x 4ING 联合推出儿童自行车Kick Bike">NEIGHBORHOOD x 4ING 联合推出儿童自行车Kick Bike</a>
                                </h2>
                                <span class="time">2014年02月06日</span>
                                <div class="xh_post_h_3_entry ofh" style="color:#555;height:80px; overflow:hidden;">
                                    
                                    这台自行车特别为 2 至 5 岁的孩童而设，以 NEIGHBORHOOD 一贯的暗黑风格设计，车身印有品牌的标志字体，而骷髅骨头标志就印在座椅，就连孩童都能够感受 NEIGHBORHOOD 个中...
                                
                                </div>
                                <div class="b">
                                    <a href="/lookbike/otherbike/277.html" class="xh_readmore" rel="nofollow">read
                                        more</a> <span title="0人赞" class="xh_love"><span class="textcontainer"><span>0</span></span> </span> <span title="104人浏览" class="xh_views">
                                                    104</span>
                                </div>
                            </div>
                        </div>                    
                        
                    
                <div id="pagination"><div class="wp-pagenavi">
                <span class="current">1</span><a class="page larger" href='list_2.html'>2</a><a class="page larger" href='list_3.html'>3</a><a class="page larger" href='list_4.html'>4</a><a class="page larger" href='list_5.html'>5</a><a class="page larger" href='list_6.html'>6</a><a class="page larger" href='list_7.html'>7</a><a class="page larger" href='list_8.html'>8</a><a class="page larger" href='list_9.html'>9</a><a class="page larger" href='list_10.html'>10</a><a class="page larger" href='list_11.html'>11</a><a class="page larger" href='list_2.html'>下一页</a><a class="page larger" href='list_28.html'>末页</a><span class="pages">共 28 页，280条</span>

                </div></div>
            </div>
        </div>
        <div id="xh_sidebar">        
<!-- 右侧 -->

         <div class="widget">

<div style="background: url('__INDEX__/style/img/hots_bg.png') no-repeat scroll 0 0 transparent;width:250px;height:52px;margin-bottom:15px;">
</div>
<ul id="ulHot">

<li style="border-bottom:dashed 1px #ccc;height:70px; margin-bottom:15px;">
<div style="float:left;width:85px;height:55px; overflow:hidden;"><a href="/lookbike/roadbicycle/110.html" target="_blank"><img src="__INDEX__/images/68.png" width="83" title="环西冠军克里斯霍纳的个性化定制座驾 Trek Madone公路车" /></a></div>
<div style="float:right;width:145px;height:52px; overflow:hidden;"><a href="/lookbike/roadbicycle/110.html" target="_blank" title="环西冠军克里斯霍纳的个性化定制座驾 Trek Madone公路车">环西冠军克里斯霍纳的个性化定制座驾 Trek Ma</a></div>
</li>
<li style="border-bottom:dashed 1px #ccc;height:70px; margin-bottom:15px;">
<div style="float:left;width:85px;height:55px; overflow:hidden;"><a href="/lookbike/small/184.html" target="_blank"><img src="__INDEX__/images/146.jpg" width="83" title="英式折叠车Brompton Junction 上海旗舰店" /></a></div>
<div style="float:right;width:145px;height:52px; overflow:hidden;"><a href="/lookbike/small/184.html" target="_blank" title="英式折叠车Brompton Junction 上海旗舰店">英式折叠车Brompton Junction 上海旗舰店</a></div>
</li>
<li style="border-bottom:dashed 1px #ccc;height:70px; margin-bottom:15px;">
<div style="float:left;width:85px;height:55px; overflow:hidden;"><a href="/lookbike/vintagebicycle/57.html" target="_blank"><img src="__INDEX__/images/17.jpg" width="83" title="延时胶片摄影：上海复古骑行大会" /></a></div>
<div style="float:right;width:145px;height:52px; overflow:hidden;"><a href="/lookbike/vintagebicycle/57.html" target="_blank" title="延时胶片摄影：上海复古骑行大会">延时胶片摄影：上海复古骑行大会</a></div>
</li>
<li style="border-bottom:dashed 1px #ccc;height:70px; margin-bottom:15px;">
<div style="float:left;width:85px;height:55px; overflow:hidden;"><a href="/lookbike/small/199.html" target="_blank"><img src="__INDEX__/images/159.jpg" width="83" title="Brompton小布2012女王纪念版" /></a></div>
<div style="float:right;width:145px;height:52px; overflow:hidden;"><a href="/lookbike/small/199.html" target="_blank" title="Brompton小布2012女王纪念版">Brompton小布2012女王纪念版</a></div>
</li>
<li style="border-bottom:dashed 1px #ccc;height:70px; margin-bottom:15px;">
<div style="float:left;width:85px;height:55px; overflow:hidden;"><a href="/lookbike/bmx/213.html" target="_blank"><img src="__INDEX__/images/181.png" width="83" title="街头气息十足 Stussy 2013 秋冬系列新品LOOKBOOK" /></a></div>
<div style="float:right;width:145px;height:52px; overflow:hidden;"><a href="/lookbike/bmx/213.html" target="_blank" title="街头气息十足 Stussy 2013 秋冬系列新品LOOKBOOK">街头气息十足 Stussy 2013 秋冬系列新品LOOKB</a></div>
</li>



</ul>
                </div>
            
            <div class="widget portrait">
    <div>
        <div class="textwidget">
            <a href="/tougao.html"><img src="__INDEX__/style/img/tg.jpg" alt="鎶曠ǹ"></a><br><br>          
<script type="text/javascript">BAIDU_CLB_fillSlot("870073");</script>
<script type="text/javascript">BAIDU_CLB_fillSlot("870080");</script>
<script type="text/javascript">BAIDU_CLB_fillSlot("870081");</script>
        </div>
    </div>
</div>

        </div>
        <div class="clear">
        </div>
    </div>
    <div class="boxBor"></div>

    <div class="boxBor" onclick="IBoxBor()" style="cursor:pointer;"></div>
    <script type="text/javascript">
        $(function () {
            var imgHoverSetTimeOut = null;
            $('.xh_265x265 img').hover(function () {
                var oPosition = $(this).offset();
                var oThis = $(this);
                $(".boxBor").css({
                    left: oPosition.left,
                    top: oPosition.top,
                    width: oThis.width(),
                    height: oThis.height()
                });
                $(".boxBor").show();
                var urlText = $(this).parent().attr("href");
                $("#hdBoxbor").val(urlText);
            }, function () {
                imgHoverSetTimeOut = setTimeout(function () { $(".boxBor").hide(); }, 500);
            });
            $(".boxBor").hover(
                function () {
                    clearTimeout(imgHoverSetTimeOut);
                }
                , function () {
                    $(".boxBor").hide();
                }
            );
        });
        function IBoxBor() {
            window.open($("#hdBoxbor").val());
        }
        function goanewurl() {
            window.open($("#hdUrlFocus").val());
        }
</script>

    </div>

{include file="public/footer" /}


<div style="display: none;" id="scroll">
</div>
<script type="text/javascript" src="__INDEX__/style/z700bike_global.js"></script>

</body>
</html>
