<div id="header_wrap">
    <div id="header">
        <div style="float: left; width: 310px;">
            <h1>
                <a href="/"></a>
                <div class="" id="logo-sub-class">
                </div>
            </h1>
        </div>
        <div id="navi">

<ul id="jsddm">
<li><a class="navi_home" href="{:url('index/index')}">首页</a></li>
{volist name='cate' id='cates'}
<li><a href="http://127.0.0.1/bike/public/index.php/index/{if condition="$cates['type'] eq 1"}Artlist{elseif condition="$cates['type'] eq 2"/}Page{elseif condition="$cates['type'] eq 3"/}Imglist{/if}/index/id/{$cates.id}">{$cates['cateName']}</a>
{if condition="$cates['child'] neq null"}
<ul>
<?php foreach($cates['child'] as $k=>$v){ ?>
<li><a href="http://127.0.0.1/bike/public/index.php/index/{if condition="$v.type eq 1"}Artlist{elseif condition="$v.type eq 2"/}Page{elseif condition="$v.type eq 3"/}Imglist{/if}/index/id/{$v.id}">{$v['cateName']}</a></li>
<?php }?>
</ul>
{/if}

{/volist}

 </li>

</ul>

            <div style="clear: both;">
            </div>

            
        </div>
        <div style="float: right; width: 209px;">
            <div class="widget" style="height: 30px; padding-top: 20px;">
                <div style="float: left;">
      <form  name="formsearch" action="{:url('Search/index')}"><input type="hidden" name="kwtype" value="0" />                
<input name="word" type="text" style="background-color: #000000;padding-left: 10px; font-size: 12px;font-family: 'Microsoft Yahei'; color: #999999;height: 29px; width: 160px; border: solid 1px #666666; line-height: 28px;" id="go" placeholder="在这里搜索..." value="" onfocus="if(this.value==''){this.value='';}"  onblur="if(this.value==''){this.value='';}" />
        </form>
                        </div>
                <div style="float: left;">
                    <img src="__INDEX__/images/search-new.png" id="imgSearch" style="cursor: pointer; margin: 0px;
                        padding: 0px;" onclick="subForm()"  /></div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
        
    </div>
</div>

</div>