<div id="header_wrap">
    <div id="header">
        <div style="float: left; width: 310px;">
            <h1>
                <a href="/" title="宽屏大气文章类--41天鹰模板">宽屏大气文章类--41天鹰模板</a>
                <div class="" id="logo-sub-class">
                </div>
            </h1>
        </div>
        <div id="navi">

<ul id="jsddm">
<li><a class="navi_home" href="/">首页</a></li>
<li><a class="navi_home" target="_blank" href="http://www.chuanke.com/s2260700.html">ThinkPHP5视频教程</a></li>
<li><a href="/lookbike/">单车分类</a>
<ul>

<li><a href="/lookbike/fixed-gear/">死飞车</a></li>

<li><a href="/lookbike/vintagebicycle/">复古骑行</a></li>

<li><a href="/lookbike/roadbicycle/">公路车</a></li>

<li><a href="/lookbike/mountainbike/">山地车</a></li>

<li><a href="/lookbike/small/">折叠/小径车</a></li>

<li><a href="/lookbike/bmx/">BMX</a></li>

<li><a href="/lookbike/otherbike/">城市车及其他</a></li>


</ul>

 </li2><li><a href="/gear/">骑行装备</a>
<ul>

<li><a href="/gear/accessories/">车身装备</a></li>

<li><a href="/gear/rs/">人身装备</a></li>


</ul>

 </li2><li><a href="/life/">单车生活</a>





 </li2><li><a href="/news/">行业资讯</a>





 </li2>

</ul>

            <div style="clear: both;">
            </div>

            
        </div>
        <div style="float: right; width: 209px;">
            <div class="widget" style="height: 30px; padding-top: 20px;">
                <div style="float: left;">
      <form  name="formsearch" action="/plus/search.php"><input type="hidden" name="kwtype" value="0" />                
<input name="q" type="text" style="background-color: #000000;padding-left: 10px; font-size: 12px;font-family: 'Microsoft Yahei'; color: #999999;height: 29px; width: 160px; border: solid 1px #666666; line-height: 28px;" id="go" value="在这里搜索..." onfocus="if(this.value=='在这里搜索...'){this.value='';}"  onblur="if(this.value==''){this.value='在这里搜索...';}" />
        </form>
                        </div>
                <div style="float: left;">
                    <img src="__INDEX__/images/search-new.png" id="imgSearch" style="cursor: pointer; margin: 0px;
                        padding: 0px;" onclick="subForm()"  /></div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
        
    </div>
</div>

</div>